//colors
$dark-gray: rgb(36, 30, 18);
$light-gray: rgb(112, 108, 100);

//breakpoints
$tablet-width: 768px;
$desktop-width: 1024px;

//fonts
$title: 'Gugi', cursive;

$body-text: 'Lucida Sans', sans-serif;