/* 
==============================================
CONTENT:	Crossroads Store
AUTHOR:		Eric Canosa
==============================================

TABLE OF CONTENTS:

0. Reset
1. STYLES

==============================================
*/

/* 0. Reset ================================= */
@use 'reset';
@use 'variables';
@use 'mixins';


/* 1.STYLES ================================= */

*, *::before, *::after {
	box-sizing: border-box;
}

// font-family: 'ZCOOL QingKe HuangYou', cursive;
// font-family: 'Gugi', cursive;
// font-family: 'Bowlby One SC', cursive;

body{
	font-family: variables.$body-text;
}

a {
	text-decoration: none;
	color: unset;
}

.header{
	padding: 1.5rem 2%;
	display: flex;
	justify-content: space-between;
	background-color: white;
	align-items: center;

	@include mixins.tablet {
		padding: 1rem;
	}

	&__title{
		font-family: variables.$title;
		font-size: 1.625rem;
		color: variables.$dark-gray;

		&:hover{
			filter: brightness(210%);
		}
	}
	
}

.menu{
	display: flex;
	justify-content: space-between;
	width: 140px;

	&__icon{
		background-size: cover;
		width: 35px;
		height: 35px;
		cursor: pointer;

		&_toggle{
			background: url(../../src/img/hamburger.png);
			background-size: contain;
			border: 1px solid rgba(0,0,0,0.3);
		}

		&_search{
			background: url(../../src/img/magnifying-glass.svg);
		}

		&_cart{
			background: url(../../src/img/icon-shopping-cart.svg);
		}

	}
}

.banner{
	background: url(../../src/img/banner.jpg), radial-gradient(lightslategray, darkslategray);
	background-blend-mode: hard-light;
	background-size: cover;
	background-position: bottom;
	height: 12rem;

	@include mixins.tablet {
		height: 25vw;
	}
}

.cta{
	display: flex;
	flex-direction: column;
	padding: 2.5rem 1rem 2rem;

	&__heading{
		color: variables.$dark-gray;
		text-align: center;
		font-size: 1.25rem;
		font-weight: bold;
		margin-bottom: 0.675rem;
	}

	&__text{
		text-align: center;
		color: variables.$light-gray;
	}
}

.reward-display{
	display:flex;
	flex-direction: column;

	@include mixins.tablet {
		flex-direction: row;
		padding: 0 3%;
		justify-content: space-between;
	}
}

.section-heading{
	text-align: center;
	font-size: 1.875rem;
	font-weight: bold;
	padding: 1rem;
}

.reward{
	border: 1px solid lightgray;
	margin: 0.5rem auto;
	width: 66.6%;
	display: flex;
	flex-direction: column;
	padding: 2rem;
	overflow: hidden;
	position: relative;
	transition: max-height 1s;
	max-height: 28rem;

	@include mixins.tablet {
		width: 31%;
	}

	&__heading{
		font-weight: bold;
		text-align: center;
		padding-bottom: 2rem;
	}

	&__image{
		width: 66.6%;
		margin: 0 auto;
		border-radius: 5%;
		margin-bottom: 1.5rem;
	}

	&__price{
		font-weight: bold;
		text-align: center;
		font-size: 1.75rem;
	}

	&__button{
		margin: 0 auto;
		padding: 0.5rem 2rem;
		border-radius: 9999px;
		background-color: rgb(33, 47, 67);
		color: white;
		text-align: center;
		font-weight: bold;
		line-height: 1.9rem;
		
		&:hover{
			filter: brightness(130%);
		}
	}

	&__desc{
		color: variables.$dark-gray;
		line-height: 1.4rem;
		padding: 0.75rem 0;
	}

	&__less{
		text-align:center;
		cursor:pointer;
		text-decoration: underline;
		padding: 0.25rem;

		@include mixins.tablet {
			margin-top: 0.5rem;
		}
	}

	&__more{
		box-shadow: 0px -20px 10px 0px rgba(255,255,255,0.8);
		-webkit-box-shadow: 0px -20px 10px 0px rgba(255,255,255,0.8);
		-moz-box-shadow: 0px -20px 10px 0px rgba(255,255,255,0.8);
		text-align: center;
		color: rgb(33, 47, 67);
		text-decoration:underline;
		cursor: pointer;
		position: absolute;
		bottom:0rem;
		left:0rem;
		width: 100%;
		background: white;
		height: 3.5rem;
		display: flex;
		align-items: center;
		justify-content:center;
		opacity: 1;
		transition: opacity 300ms;
	}
}

.backers{
	text-align:center;
	color: variables.$dark-gray;
	text-transform: uppercase;
	font-size: 0.875rem;
	padding: 0.625rem;
}

.includes{
	color: variables.$dark-gray;
	text-transform: uppercase;
	font-size: 0.875rem;
	padding-bottom: 0.375rem;

	&__list{
		list-style: disc;
		padding-left: 1.1rem;
	}

	&__item{
		padding-bottom: 0.5rem;
	}
}

.total-backers{
	padding: 2rem 2%;
	text-align: center;

	&__count{
		font-weight: bold;
		font-size: 1.3125rem;
		padding-bottom: 0.375rem;
	}

	&__text{
		text-transform: uppercase;
		font-size: 0.875rem;
		color: variables.$dark-gray;
	}
}

.engagement{
	display: flex;
	justify-content: center;
	margin-bottom: 2rem;

	&__button{
		width: 11rem;
		background: rgb(237, 242, 250);
		text-align: center;
		border-radius: 9999px;
		font-size: 0.875rem;
		padding: 0.46875rem 1rem;
		cursor: pointer;

		&:hover{
			&:hover{
				filter: brightness(98%);
			}
		}

		&_share{
			margin-right: 0.5rem;
		}
	}
}

.about{
	display:flex;

	&__box{
		display: flex;
		border: 1px solid lightgray;
		margin: 0.5rem auto 2rem;
		width: 80%;
		display: flex;
		flex-direction: column;
		padding: 2rem;
		overflow: hidden;
		position: relative;
		transition: max-height 1s;
		max-height: 14rem;
		max-width: 38.5rem;

		@include mixins.tablet {
			width: 50%;
		}
	}

	&__text{
		padding: 0.5rem 0;
		line-height: 1.4rem;

		&_main-heading{
			color: rgb(31, 73, 125);
			font-weight: bold;
			text-align: center;
			text-transform: uppercase;
		}

		&_intro{
			font-style: italic;
		}

		&_sub-heading{
			color: rgb(31, 73, 125);
			font-weight: bold;
			text-align: center;
		}
	}

	&__more{
		box-shadow: 0px -20px 10px 0px rgba(255,255,255,0.8);
		-webkit-box-shadow: 0px -20px 10px 0px rgba(255,255,255,0.8);
		-moz-box-shadow: 0px -20px 10px 0px rgba(255,255,255,0.8);
		text-align: center;
		color: rgb(33, 47, 67);
		text-decoration:underline;
		cursor: pointer;
		position: absolute;
		bottom:0rem;
		left:0rem;
		width: 100%;
		background: white;
		height: 3.5rem;
		display: flex;
		align-items: center;
		justify-content:center;
		opacity: 1;
		transition: opacity 300ms;
	}

	&__less{
		text-align:center;
		cursor:pointer;
		text-decoration: underline;
		padding: 0.25rem;

		@include mixins.tablet {
			margin-top: 0.5rem;
		}
	}
}

.updates{
	display:flex;

	&__box{
		display: flex;
		border: 1px solid lightgray;
		margin: 0.5rem auto;
		width: 80%;
		display: flex;
		flex-direction: column;
		padding: 2rem;
		overflow: hidden;
		position: relative;
		transition: max-height 1s;
		max-height: 29rem;
		max-width: 38.5rem;

		@include mixins.tablet {
			width: 50%;
		}
	}

	&__image{
		width: 100%;
		margin: 0 auto;
		border-radius: 5%;
		margin-bottom: 1.5rem;
	}

	&__date{
		color: variables.$dark-gray;
		font-size: 0.75rem;
		text-transform: uppercase;
		font-weight:bold;
		padding: 0.5rem 0;
	}

	&__heading{
		font-weight: bold;
		font-size: 1.3125rem;
		line-height: 1.4rem;
		padding-bottom: 0.75rem;
	}

	&__text{
		line-height: 1.4rem;
	}

	&__bottom-row{
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: absolute;
		bottom: 0.5rem;
		left: 0rem;
		width: 100%;
		padding: 0rem 1rem;
	}

	&__details{
		display: flex;
		color: variables.$light-gray;
		font-size: 0.875rem;
	}

	&__comments{
		padding-right: 1.1rem;

		&-num{
			padding-right: 0.25rem;
		}
	}

	&__likes-num{
		padding-right: 0.375rem;
	}

	&__more{
		box-shadow: 0px -20px 10px 0px rgba(255,255,255,0.8);
		-webkit-box-shadow: 0px -20px 10px 0px rgba(255,255,255,0.8);
		-moz-box-shadow: 0px -20px 10px 0px rgba(255,255,255,0.8);
		text-align: center;
		color: rgb(33, 47, 67);
		text-decoration:underline;
		cursor: pointer;
		position: absolute;
		bottom:0rem;
		left:0rem;
		width: 100%;
		background: white;
		height: 4rem;
		display: flex;
		align-items: top;
		padding-top: 1rem;
		justify-content:center;
		opacity: 1;
		transition: opacity 300ms;
	}

	&__less{
		text-align: center;
		cursor: pointer;
		text-decoration: underline;
		padding: 1rem 0.25rem 0.25rem;
	}
	
}


.fa-share-square{
	color: variables.$light-gray;
	font-size: 1.25rem;
	cursor: pointer;
}

.footer{
	margin-top: 3.5rem;
	border-top: 1px solid lightgray;
	padding: 4%;
	display: flex;
	justify-content: space-between;
	font-size: 0.875rem;

	&__text{
		color: #909097;
	}

	&__link{
		color: blue;
	}
}